$font-size-large: 32px;
$font-size-large-mobile: 24px;
$font-size-medium: 20px;
$font-size-small: 16px;

$screen-breakpoint: 500px;

$main-page-bg: #4F7D95;
$main-page-white: #EEFBFF;
$main-page-button-bg: linear-gradient(0deg, rgba(0,116,96,1) 0%, rgb(60, 136, 125) 100%);
$main-page-button-hover: linear-gradient(0deg, rgba(0,116,96,1) 0%, rgb(91, 168, 157) 100%);
$main-page-button-text: #B2CCC7;

$fantasy-color-tuna: #313247;
$fantasy-color-tuna-transparency: rgb(50, 51, 72, 0.7);
$fantasy-color-old-rose: #BF818F;
$fantasy-color-deluge: #706FAE;
$fantasy-color-deluge-transparency:rgb(112, 111, 174, 0.4);
$fantasy-color-glacier: #83AAC8;
$fantasy-color-glacier-transparency: rgb(131, 170, 201, 0.44);
$fantasy-color-button: linear-gradient(0deg, rgba(112,111,174,1) 0%, rgba(131,170,200,1) 100%);
$fantasy-color-button-hover: linear-gradient(0deg, rgba(112,111,174,1) 0%, rgb(157, 190, 214) 100%);

$japanese-color-colar-reef: #CCB8A9;
$japanese-color-colar-reef-transparency: rgb(204, 184, 168, 0.4);
$japanese-color-matterborn: #453544;
$japanese-color-matterborn-transparency: rgb(69, 53, 68, 0.6);
$japanese-color-dingley: #758043;
$japanese-color-dingley-transparency: rgb(116, 127, 67, 0.6);
$japanese-color-scorpion: #605D60;
$japanese-color-scorpion-transparency: rgb(96, 92, 96, 0.6);
$japanese-color-button: linear-gradient(0deg, rgba(117,128,67,1) 0%, rgba(204,184,169,1) 100%);
$japanese-color-button-hover: linear-gradient(0deg, rgba(117,128,67,1) 0%,rgb(216, 200, 188) 100%);

$chinese-color-zorba: #9D9788;
$chinese-color-zorba-transparency: rgb(157, 151, 136, 0.6);
$chinese-color-rhino: #2F385A;
$chinese-color-rhino-transparency: rgb(47, 56, 90, 0.6);
$chinese-color-voodoo: #513D58;
$chinese-color-fawn: #6E5237;
$chinese-color-fawn-transparency: rgb(110, 82, 55, 0.6);
$chinese-color-button: linear-gradient(0deg, rgba(81,61,88,1) 0%, rgb(123, 96, 133) 100%);
$chinese-color-button-hover: linear-gradient(0deg, rgba(81,61,88,1) 0%, rgb(143, 113, 153) 100%);
