@import "./variables";
@import "./mixins";

.Chinese {
    @include background;
    background-image: url("../../public/images/chinese-bg.jpg");
    color: $chinese-color-rhino;
    main {
        @include window;
        background-color: $chinese-color-zorba-transparency;
        div {
            @include container-names;
            div {
                @include names;
                background-color: $chinese-color-fawn-transparency;
                @media (max-width: $screen-breakpoint) {
                    padding: 12px 46px;
                }
                span {
                    &:hover svg {
                        color: $chinese-color-rhino-transparency;
                    }
                    &:before {
                        background-color: $chinese-color-zorba;
                        border-color: $chinese-color-rhino;
                    }
                }
            }
        }
    }
    button, a {
        @include button;
        color: $chinese-color-zorba;
        background-image: $chinese-color-button;
        &:hover {
            background-image: $chinese-color-button-hover;
        }
    }
    footer {
        @include footer;
        color: $chinese-color-rhino;
    }
    .Menu {
        background-color: $chinese-color-zorba-transparency;
        a {
            @include button-menu;
        }
        a.active {
            background-image: $chinese-color-button-hover;
        }
    }
}
