@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&family=Parisienne&family=Raleway&display=swap');

.Chinese {
    @include background;
    background-image: url("../../public/images/chinese-bg.jpg");
    color: $chinese-color-rhino;
    main {
        @include window;
        background-color: $chinese-color-zorba-transparency;
        div {
            @include container-names;
            div {
                @include names;
                font-weight: 600;
                font-family: 'Noto Serif SC', serif;
                background-color: $chinese-color-fawn-transparency;
            }
        }
    }
    button {
        @include button;
        background-image: $chinese-color-button;
        &:hover {
            background-image: $chinese-color-button-hover;
        }
    }
    footer {
        @include footer;
        color: $chinese-color-rhino;
    }
    .Menu {
        background-color: $chinese-color-zorba-transparency;
        button {
            @include button-menu;
        }
        a.active {
            button {
                background-image: $chinese-color-button-hover;
            }
        }
    }
}
