@import "./variables";
@import "./mixins";

.Fantasy {
    @include background;
    background-image: url("../../public/images/fantasy-bg.jpg");
    color: $fantasy-color-tuna;
    main {
        @include window;
        background-color: $fantasy-color-deluge-transparency;
        h1 {
            color: $fantasy-color-glacier;
        }
        div {
            @include container-names;
            div {
                @include names;
                background-color: $fantasy-color-glacier-transparency;
            }
        }
    }
    button {
        @include button;
        background-image: $fantasy-color-button;
        &:hover {
            background-image: $fantasy-color-button-hover;
        }
    }
    footer {
        @include footer;
        color: $fantasy-color-old-rose;
    }
    .Menu {
        background-color: $fantasy-color-deluge-transparency;
        button {
            @include button-menu;
        }
        a.active {
            button {
                background-image: $fantasy-color-button-hover;
            }
        }
    }
}
