@import "./variables";
@import "./mixins";

.Japanese {
    @include background;
    background-image: url("../../public/images/japanese-bg.jpg");
    color: $japanese-color-matterborn;
    @media (max-width: 460px) {
        background-position-x: 0px;
    }
    main {
        @include window;
        background-color: $japanese-color-scorpion-transparency;
        h1 {
            color: $japanese-color-colar-reef;
        }
        div {
            @include container-names;
            div {
                @include names;
                background-color: $japanese-color-colar-reef-transparency;
            }
        }
    }
    button, a {
        @include button;
        color: $japanese-color-matterborn;
        background-image: $japanese-color-button;
        &:hover {
            background-image: $japanese-color-button-hover;
        }
    }
    footer {
        @include footer;
        color: $chinese-color-rhino;
    }
    .Menu {
        background-color: $japanese-color-scorpion-transparency;
        a {
            @include button-menu;
        }
        a.active {
            background-image: $japanese-color-button-hover;
        }
    }
}
